/* Na v4, usamos @import, não @tailwind */
@import 'tailwindcss';

/* Definimos as cores do Madri Noivas aqui */
@theme {
  --color-madriRose: #e11d48;
  --color-madriGold: #d97706;
  --color-madriBg: #f3f4f6;
  --color-madriDark: #18181b;
}

/* Isso força o Dark Mode a funcionar pela classe 'dark' do botão, 
   em vez de apenas pela preferência do sistema */
@custom-variant dark (&:where(.dark, .dark *));
